body {
    background-color: lavender;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:  10px 10px 10px 40px;
    padding: 20px;
}

.heading {
    margin: 10px 0 10px 25px;
    font-size: 50px;
    color: lavender;
}

.butn {
    margin: 20px 5%;
}

.qotd {
    position: absolute;
    top: 50px;
    right: 40px;
}

h4 {
    margin: 30px 20px 5px;
}

.input-group{
    width: 50%;
}

#inputGroup-sizing-default {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
}

.quotes-lists {
    border: solid #0d6efd;
    width: 98%;
    padding: 20px;
    margin: 20px 5px;
    text-align: left;
}

em {
    position: relative;
    font-size: 0.9em;
    left: 84%;
    padding: 10px 0 0;
}

.grouped-input {
    display: flex;
    flex-direction: row;
    width: 40%;
}

section {
    padding: 32px;
    width: 30%;
    position: relative;
    left: 33%;
    border: solid #0d6efd;
    border-radius: 10px;
}